<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register">
        <h3 id="error"><b>{{msg}}</b></h3>
                <div class="row">
                    <div class="col-md-3 register-left" >
                        <!-- <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/> -->
                        <h3>Loggin Here</h3>
                        <form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="login(loginForm.value)">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <input formControlName="email"  type="email" class="form-control" placeholder="Your Email *" value="" />
                               
                                    <input formControlName="password"  type="password" class="form-control" placeholder="Password *" value="" />
                                </div>
                            </div>
                            <input type="submit" name="" value="Login"/>
                          </form>
                          <a (click)=ForgetPassword(loginForm.value)>forget password</a>
                          
                          <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                    </div>
                    <div class="col-md-9 register-right">
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">User</a>
                            </li>
                          
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" >
                                <h3 class="register-heading">Regiter as a User!</h3>
                                
                                <form [formGroup]="signupForm" autocomplete="off" novalidate (ngSubmit)="signup(signupForm.value)">
        
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <!-- <label for="fname">First Name *</label> -->
                                            <input formControlName="fname" type="text" class="form-control" placeholder="First Name *" required/>
                                            <em *ngIf="validateControl('fname') && hasError('fname', 'required')">*first name is required</em>
                                        </div>
                                        <div class="form-group">
                                            <input formControlName="lname"  type="text" class="form-control" placeholder="Last Name *" value="" />
                                            <em *ngIf="validateControl('lname') && hasError('lname', 'required')">*last name is required</em>
                                        </div>
                                       
                                        <h3 id="error">{{waiting}}</h3>   
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input formControlName="email"  type="email" class="form-control" placeholder="Your Email *" value="" />
                                            <em *ngIf="validateControl('email') && hasError('email', 'required')">*email is required</em>
                                        </div>
                                        <div class="form-group">
                                            <input formControlName="password"  type="password" class="form-control" placeholder="Password *" value="" />
                                            <em *ngIf="validateControl('password') && hasError('password', 'required')">*password is required</em>
                                         
                                        </div>
                                        <div class="form-group">
                                            <input formControlName="confirmpassword" type="password" class="form-control"  placeholder="Confirm Password *" value="" />
                                            <em *ngIf="validateControl('confirmpassword') && hasError('confirmpassword', 'required')">* confirm password is required</em>
                                            <em *ngIf="((signupForm.errors?.ismatch) )">*confirm password is not match</em> 
                                            
                                        </div>
                                       
                                        
                                        <input [disabled]="!signupForm.valid"  type="submit" class="btnRegister"  value="Sign Up"/>

                                    </div>
                                </div>
                                
                                

                              </form>
                              
                            </div>
                           
                        </div>
                    </div>
                </div>

            </div>