
<div class="card">
  <h5 class="card-header"><h2> Create a new Type</h2></h5> 
  <div class="card-body">
    <h5 class="card-title"> <h3 id="msg">{{Message}}</h3></h5>
    <form [formGroup]="typeForm" autocomplete="off" novalidate (ngSubmit)="createType(typeForm.value)">
          <div class="form-group">
              <label for="email" class="sr-only">typeId</label>
              <input class="form-control" formControlName="typeId" id="typeId" placeholder="Type Id">
              <em *ngIf="validateControl('typeId') && hasError('typeId', 'required')">*Email is required!</em>
        
          </div>
          <div class="form-group">
              <label for="key" class="sr-only">Name</label>
              <input type="text" formControlName="typeName" id="typeName" class="form-control" placeholder="Type Name">
              <em *ngIf="validateControl('typeName') && hasError('typeName', 'required')">*password is required</em>
             
          </div>
          <div class="form-group">
              <label for="key" class="sr-only">Dis</label>
              <input type="text" formControlName="typeDis" id="typeDis" class="form-control" placeholder="Type Discription">
              <em *ngIf="validateControl('typeDis') && hasError('typeDis', 'required')">*password is required</em>
              
          </div>
          
          <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-danger" (click)="redirectToOwnerList()">Cancel</button>
          <button type="submit" class="btn btn-success" [disabled]="!typeForm.valid">Create</button>
          
      </div> 
      </form>
    
  </div>
</div>


