<div class="form-row">
  <div class="form-group col-md-10 container">
          <div class="card">
                  <h5 class="card-header"><h2>Sri Lankan Travelling</h2>   <img class="card-img-top" src="assets/back.jpeg" alt="Cinque Terre" id="headerImage"></h5>
  
                  <button type="button" class="btn" data-toggle="modal" data-target="#AddType">
                    Add a new Type
                  </button>
                
<table class="table table-hover">
  <thead>
  <tr >
      <th>Type Name</th>
    <th>Type Discription</th>
    <th>State</th>
    <th>Update</th>
    <th> Active/Deactive</th>
 
  </tr></thead>
  <tbody>
  <tr *ngFor="let t of types" >
    <td>{{t.typeName}}</td>
    <td>{{t.discription}}</td>
    
    <td>{{t.isActive}}</td>

    <td><button type="button" id="details" class="btn  btn-default" (click)=updatepage(t.typeId)>Update</button></td>
    
          <td *ngIf="(t.isActive) &&(t.typeId!= LoadingId)"><button type="button" id="update" class="btn  btn-danger" (click)=DeActiveType(t.typeId)>Deactive</button></td>
          <td *ngIf="!(t.isActive)&& (t.typeId != LoadingId)"><button type="button" id="update" class="btn  btn-success" (click)=ActiveType(t.typeId)>Active</button></td>
          <td  *ngIf="(t.typeId == LoadingId)"> <img  class="card-img-top" src="assets/loading1.gif" alt="Cinque Terre" id="loading"></td>
          <!-- <td ><button type="button" id="update" class="btn  btn-success" (click)=AllImage(p.id)>All Images</button></td> -->
          
  </tr>
  </tbody>
</table>
</div>
</div>
</div>
<div class="modal fade" id="AddType" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add a Type</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-type ></app-add-type>
      </div>
      <div class="modal-footer">
     
      </div>
    </div>
  </div>
</div>