<div class="form-row">
    <div class="form-group col-md-10 container">
            <div class="card">
                    <h5 class="card-header"><h2> Create a new View</h2></h5>
                    <div class="card-body">
                        <h5 class="card-title"> <h3 id="msg">{{Message}}</h3></h5>
                      <form [formGroup]="pageForm" autocomplete="off" novalidate (ngSubmit)="createpage(pageForm.value)">
                            <div class="form-group col-md-10 container">
                                    <div class="form-group">
                                            <label for="email" class="sr-only">DepartmentId</label>
                                            <input class="form-control" formControlName="id" id="id" placeholder="Topic Id">
                                            <em *ngIf="validateControl('id') && hasError('id', 'required')">*Id is required!</em>
                                            
                                        </div> 
                            </div>

                            <div class="form-group col-md-10 container">
                                    <div class="form-group">
                                            <label for="key" class="sr-only">Name</label>
                                            <input type="text" formControlName="topic" id="topic" class="form-control" placeholder="Topic Name">
                                            <em *ngIf="validateControl('topic') && hasError('topic', 'required')">*Topic Name is required</em>
                                           
                                        </div>
                            </div>
                            
                            <div class="form-group col-md-10 container">
                                    <div class="form-group">
                                            <label for="key" class="sr-only">Name</label>
                                            <input type="text" formControlName="subtopic" id="subtopic" class="form-control" placeholder="Sub Topic Name">
                                            <em *ngIf="validateControl('subtopic') && hasError('subtopic', 'required')">*Sub Topic is required</em>
                                           
                                        </div>
                            </div>

                            <div class="form-group col-md-10 container">
                                    <div class="form-group">
                                            <label for="key" class="sr-only">Type</label>
                                            <input type="text" formControlName="type" id="type" class="form-control" placeholder="Type">
                                            <em *ngIf="validateControl('type') && hasError('type', 'required')">*type is required</em>
                                           
                                        </div>
                            </div>

                            <div class="form-group col-md-10 container">
                                    <div class="form-row">
                                            <div class="form-group col-md-8">
                                                      
                                                    <label for="comment"><b>Discription 1:</b></label>
                                                    <!-- <input rows="4" cols="50" type="text" formControlName="dis1" id="dis1" class="form-control" placeholder="Discription 1 "> -->
                                                    <textarea  class="form-control" rows="10" id="comment"formControlName="dis1" placeholder="Discription 1 " > </textarea>
                                                    <em *ngIf="validateControl('dis1') && hasError('dis1', 'required')">*Discription is required</em>
                                                   
                                                          
                                                  </div>
                                                  <div class="form-group col-md-4">
                                                        <input formControlName="image" type="file" (change)="onFileChange($event.target.files,0)"/>
                                                           <img *ngIf="ImageUrl[0]" [src]="ImageUrl[0]" style="width:250px; height:200px"> 
                                                           <em *ngIf="validateControl('image') && hasError('image', 'required')">*Insert image</em>
                                                   
                                                  </div>
                                     </div>  
                            </div>

                            
                               
                           
                            <div class="form-group col-md-10 container">
                                    <div class="form-row">
                                            <div class="form-group col-md-8">
                                                      
                                                    <label for="comment"><b>Discription 2:</b></label>
                                                    <!-- <input rows="4" cols="50" type="text" formControlName="dis1" id="dis1" class="form-control" placeholder="Discription 1 "> -->
                                                    <textarea  class="form-control" rows="10" id="comment"formControlName="dis2" placeholder="Discription 2 " > </textarea>
                                                    <em *ngIf="validateControl('dis2') && hasError('dis2', 'required')">*password is required</em>
                                                    <em *ngIf="validateControl('dis2') && hasError('dis2', 'maxlength')">*Maximum allowed length is 100 characters.</em>
                                                     
                                                          
                                                  </div>
                                                  <div class="form-group col-md-4">
                                                        <input type="file" (change)="onFileChange($event.target.files,1)"/>
                                                           <img *ngIf="ImageUrl[1]" [src]="ImageUrl[1]" style="width:250px; height:200px"> 
                                                  </div>
                                     </div>  
                            </div>

                            <div class="form-group col-md-10 container">
                                    <div class="form-row">
                                            <div class="form-group col-md-8">
                                                      
                                                    <label for="comment"><b>Discription 3:</b></label>
                                                    <!-- <input rows="4" cols="50" type="text" formControlName="dis1" id="dis1" class="form-control" placeholder="Discription 1 "> -->
                                                    <textarea  class="form-control" rows="10" id="comment"formControlName="dis3" placeholder="Discription 3 " > </textarea>
                                                    <em *ngIf="validateControl('dis3') && hasError('dis3', 'required')">*password is required</em>
                                                    <em *ngIf="validateControl('dis3') && hasError('dis3', 'maxlength')">*Maximum allowed length is 100 characters.</em>
                                                     
                                                          
                                                  </div>
                                                  <div class="form-group col-md-4" >
                                                        <input type="file" (change)="onFileChange($event.target.files,2)" />
                                                           <img *ngIf="ImageUrl[2]" [src]="ImageUrl[2]" style="width:250px; height:200px"> 
                                                  </div>
                                     </div>  
                            </div>

                            <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-danger" (click)="redirect()">Cancel</button>
                                    <button type="submit" class="btn btn-success" [disabled]="!pageForm.valid">Create New page</button>
                                    
                                </div> 
                        </form>
      
                    </div>
                  </div>
    </div>
</div>
<!-- <div class="card">
    <h5 class="card-header"><h2> Create a new View</h2></h5>
    <div class="card-body">
        <h5 class="card-title"> <h3 id="msg">{{Message}}</h3></h5>
      <form [formGroup]="pageForm" autocomplete="off" novalidate (ngSubmit)="createpage(pageForm.value)">
            <div class="form-group">
                <label for="email" class="sr-only">DepartmentId</label>
                <input class="form-control" formControlName="id" id="id" placeholder="Topic Id">
                <em *ngIf="validateControl('id') && hasError('id', 'required')">*Email is required!</em>
                <em *ngIf="validateControl('id') && hasError('id', 'email')">*This not a valid email!</em>
        
            </div>
            <div class="form-group">
                <label for="key" class="sr-only">Name</label>
                <input type="text" formControlName="topic" id="topic" class="form-control" placeholder="Topic Name">
                <em *ngIf="validateControl('topic') && hasError('topic', 'required')">*password is required</em>
                <em *ngIf="validateControl('topic') && hasError('topic', 'maxlength')">*Maximum allowed length is 100 characters.</em>
              
            </div>
            <div class="form-group">
                <label for="key" class="sr-only">Dis1</label>
                <input type="text" formControlName="type" id="type" class="form-control" placeholder="Type">
                <em *ngIf="validateControl('type') && hasError('type', 'required')">*password is required</em>
                <em *ngIf="validateControl('type') && hasError('type', 'maxlength')">*Maximum allowed length is 100 characters.</em>
              
            </div>
            <div class="form-group">
                <label for="key" class="sr-only">Dis1</label>
                <input type="text" formControlName="dis" id="dis" class="form-control" placeholder="Dis 1 ">
                <em *ngIf="validateControl('dis') && hasError('dis', 'required')">*password is required</em>
                <em *ngIf="validateControl('dis') && hasError('dis', 'maxlength')">*Maximum allowed length is 100 characters.</em>
              
            </div>
            <div class="form-group">
                <label for="key" class="sr-only">Dis1</label>
                <input type="file" (change)="onFileChange($event.target.files)"/>
                
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-danger" (click)="redirectToOwnerList()">Cancel</button>
            <button type="submit" class="btn btn-success" [disabled]="!pageForm.valid">Create</button>
            
        </div> 
        
        
        </form>
      
    </div>
  </div>
  
  <img [src]="ImageUrl" style="width:250px;height:200px">
 -->
