

<div class="form-row">
  <div class="form-group col-md-10 container">
          <div class="card">
                  <h5 class="card-header"><h2>Sri Lankan Travelling</h2>   <img class="card-img-top" src="assets/back4.jpg" alt="Cinque Terre" id="headerImage"></h5>
         <br>
                  <h3>About Us ..</h3>
        
        <div id="body" class="col-lg-8 col-sm-12 container">

                <h5>That’s exactly what an effective travel website should make you feel. It should activate the travel bug with vibrant imagery and vivid copy.<br>
<br>
            And while photos can do a lot of the work in inspiring visitors, a travel site can’t accomplish its purpose without great web design.</h5>
            <h5>
              <br>
              It can make or break a traveler’s decision to take a certain tour, stay at a certain hotel, or even visit a city or country altogether.<br><br>

Plus, beyond serving as a trustworthy source of inspiration, a travel site also needs to give would-be travelers all the information they need to arrange their travel plans.
            </h5>
          </div>
</div>
</div>
</div>
