<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/view/side/travel"><img src="assets/back.jpeg" id="navbarimage"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/view/addview" routerLinkActive="active ">Add View</a>
      </li>
      
        <li *ngIf="isAdmin" class="nav-item">
          <a class="nav-link" routerLink="/view/admin" routerLinkActive="active ">Admin</a>
        </li>
        <li *ngIf="isUser"  class="nav-item">
          <a class="nav-link" routerLink="/view/admin" routerLinkActive="active ">User</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/view/side/travel" routerLinkActive="active ">travel page</a>
      </li>
      
    </ul>
     <li class="nav-item dropdown" *ngIf="islogged" >
      <button class="nav-link dropdown-toggle btn btn-outline-secondary" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       {{UserName}}
      </button>
      <div  class="dropdown-menu bg-dark text-light" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item text-light" (click)="logout()" href="#">Log Out</a>
        
      </div>
      
    </li>
    <li class="nav-item dropdown" *ngIf="!(islogged)" >
      <a class="nav-link" routerLink="/user/login" routerLinkActive="active ">Sign Up</a>
     
    </li>
    <span class="navbar-text">
   </span>
  </div>
</nav>